
@{
    ViewBag.Title = "ViewSoftwareStock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Hardware <small> Stock</small></h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row" style="display: block;">
        <div class="col-md-12 col-sm-12  ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Software <small>stock category</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Settings 1</a>
                                <a class="dropdown-item" href="#">Settings 2</a>
                            </div>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <button type="submit" class="btn btn-success" onclick="print();">Print Report</button>
                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action" id="tabletoprint">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title">Stock id </th>
                                    <th class="column-title">Software Name</th>
                                    <th class="column-title">Serial</th>
                                    <th class="column-title">Vendor Id</th>
                                    <th class="column-title">Date Of Purchase</th>
                                    <th class="column-title">Unit Price</th>
                                    <th class="column-title">Expiry Date</th>
                                    <th class="column-title">Category Id</th>
                                    <th class="column-title no-link last">
                                        <span class="nobr">Action</span>
                                    </th>
                                    <th class="bulk-actions" colspan="7">
                                        <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                @if (ViewBag.SoftwareStock != null)
                                {
                                    foreach (var softwareStock in ViewBag.SoftwareStock)
                                    {
                                        <tr class="even pointer">
                                            <td class=" ">@softwareStock.id</td>
                                            <td class=" ">@softwareStock.sw_name</td>
                                            <td class=" ">@softwareStock.serial</td>
                                            <td class=" ">@softwareStock.vid</td>
                                            <td class=" ">@softwareStock.dop</td>
                                            <td class=" ">@softwareStock.price</td>
                                            <td class=" ">@softwareStock.exp_date</td>
                                            <td class=" ">@softwareStock.cid</td>
                                            <td class=" last">
                                                <a href="#">View</a>
                                            </td>
                                        </tr>
                                    }

                                }
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<script>
        //function print();
        $(document).ready(function () {
            $('#tabletoprint').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'print'
                ]
            });
        });
</script>


